html
  head
    title=_title
    link(rel="stylesheet", href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css")
  body
    h1 미세먼지를 알고싶은 구역을 적어주세요.
    form(action="/finedust/city",method="post")
      input(type="text",name="city",id="city")
      input(type="submit")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
  script.
    var autocomplete_text = !{JSON.stringify(data)}; // 지역 배열을 받음.
    $('#city').autocomplete({
      source:autocomplete_text
    });

