* {
  margin:0;
  padding:0;
  list-style:none;
  font-family: 'Nanum Square';
}
@font-face{
  font-family:"nanum square light"; src:url('/font/nanumsqure.TTF')}; 

#wrap_1{
  width:100%;
}

/* slide */

#slide {
  width:100%;
  height:100%;
  position: relative;
}

#slide > img{
  position:absolute;
  width:100%;
  height:100%;
}

.active{
  z-index:1;
}

#wrap_2{
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.4);
  overflow:auto;
  position: relative;
  z-index: 2;
}

header a{
  text-decoration: none;
  color:#ff9595;
}

header h1{
  padding-top: 20px;
  font-size: 13px;
  color: #ff9595;
  width: 60%;
  margin: 0 auto;
  font-weight: 300;
  
}
